.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
}

.logo img {
    height: 100px; /* Adjusted to 30px */
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}