.heroContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; /* White background */
    color: var(--baja-red); /* Red text color */
    padding: 40px;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
  }
  
  .textContainer {
    flex: 1;
    min-width: 300px;
    z-index: 2; 
    padding-right: 20px;
  }
  
  .heroTitle {
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
    color: var(--baja-red); /* Red color for the title */
    /* Removed text-shadow */
  }
  
  .menuSection {
    font-family: 'Manrope', sans-serif;
    margin-top: 20px;
  }
  
  .menuSection h2 {
    font-size: 2em;
    margin-bottom: 10px;
    position: relative;
    color: var(--baja-blue); /* Blue color for the header */
  }
  
  /* Removed the ::after pseudo-element to get rid of the line under h2 */
  
  .menuSection ul {
    list-style: none;
    padding: 0;
  }
  
  .menuSection li {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: var(--baja-red); /* Red color for the list items */
  }