.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 700px;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .popup h2 {
    color: var(--baja-red);
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .menuSectionsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .menuSection {
    width: 48%;
    margin-bottom: 1.5rem;
  }
  
  .menuSection h3 {
    color: var(--baja-blue);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .menuSection ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .menuSection li {
    color: var(--baja-red);
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: var(--baja-red);
    border: none;
    font-size: 0; /* Hide text content */
    cursor: pointer;
    line-height: 1;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .closeButton::before {
    content: "\00D7";
    font-size: 1.5rem; /* Restore font size for the X symbol */
  }
  
  .closeButton:hover {
    color: var(--baja-blue);
  }
  
  @media (max-width: 768px) {
    .popup {
      padding: 1.5rem;
      max-width: 90%;
    }
  
    .popup h2 {
      font-size: 1.5rem;
    }
  
    .menuSection h3 {
      font-size: 1.2rem;
    }
  
    .menuSection li {
      font-size: 1rem;
    }
  
    .menuSection {
      width: 100%;
    }
  }